<div class="navBar">
  <div class="navBar1">
    <span class="material-symbols-outlined"> capture </span>
    <span class="subtitles">PokéDev</span>
    <button routerLink="/">Home</button>
    <button routerLink="/pokedex">Pokédex</button>
    <button>Games</button>
    <button>News</button>
    <button>About</button>
  </div>
  <div class="navBar2">
    <div class="input-icon">
      <span class="material-symbols-outlined"> search </span>
      <input type="text" placeholder="Search Pokémon..." />
    </div>
    <button class="signIn">Sign In</button>
  </div>
</div>
