.material-symbols-outlined {
  color: yellow;
}
.subtitles {
  color: white;
  font-weight: bold;
}
button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 10px;
}
button:hover {
  color: yellow;
}
.signIn {
  background-color: yellow;
  color: black;
  border-radius: 50px;
  padding: 7px 14px;
}
input {
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid rgb(74 73 33 / var(--tw-text-opacity, 1));
  color: white;
  padding: 5px 10px;
  background-color: rgb(46 45 20 / var(--tw-bg-opacity, 1));
  opacity: 1;
  /* width: 100%; */
  padding-left: 40px; /* espacio para el icono */
  /* color: red; */
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 10px;
}
.navBar1 {
  display: flex;
  align-items: center;
}
input:focus {
  border: 1px solid yellow;
  outline: red;
}
input::placeholder {
  /* color: rgb(255 255 255 / var(--tw-text-opacity, 1)); */
  color: rgb(204 203 142 / var(--tw-text-opacity, 1));
}

.input-icon {
  position: relative;
  width: 250px;
}

.input-icon span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none; /* importante */
}
.navBar2 {
  display: flex;
  justify-content: center;
}
