.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.pkdatabase {
  color: yellow !important;
  border-radius: 50px;
  /* background-color: blue; */
  background-color: rgb(74 73 33 / 0.5);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: inline-block;
  margin-bottom: 20px;
}
.bolt {
  color: yellow;
}
.bolt-div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
h1 {
  font-size: 50px;
  color: white;
  margin: 0 auto;
}
h1 span {
  color: yellow;
  /* margin: auto; */
  line-height: 1.8;
}
.box {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding-right: 30px;
}
.box p {
  color: rgb(204 203 142 / var(--tw-text-opacity, 1));
}
.box img {
  width: 400px;
}
.box-principal {
  max-width: 50%;
  /* background-color: red; */
}
.open-pokedex {
  background-color: yellow;
  transition: 0.5s;
}
.open-pokedex:hover {
  background-color: rgb(199, 199, 30);
}
.pokedex-buttons {
  display: flex;
}
.home-buttons {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.view-api {
  background-color: rgb(74 73 33 / var(--tw-text-opacity, 1));
  color: white;
  margin-left: 30px;
  border: none;
  transition: 0.5s;
}
.view-api:hover {
  background-color: #5e5c2a;
}
.hero-image {
  position: relative;
  display: inline-block;
}

.hero-image::before {
  content: '';
  position: absolute;
  inset: -40px;
  background: radial-gradient(
    circle,
    rgba(255, 220, 80, 0.35),
    rgba(255, 220, 80, 0.15),
    transparent 70%
  );
  filter: blur(30px);
  z-index: -1;
}
/* .hero-image::after {
  content: '';
  position: absolute;
  inset: -20px;
  background: radial-gradient(circle, rgba(255, 255, 200, 0.25), transparent 60%);
  filter: blur(15px);
  z-index: -1;
} */

/* inicio del acceso rapido*/

.acceso-rapido {
  color: white;
}
.acceso-divs {
  display: flex;
  justify-content: space-around;
}
.acceso-spans {
  color: rgb(204 203 142 / var(--tw-text-opacity, 1));
}
.acceso-tarjeta {
  background-color: rgb(74 73 33 / 0.5);
  border-radius: 30px;
  padding: 20px;
  margin-right: 10px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.acceso-tarjeta:hover {
  transform: scale(1.05);
  border: 1px solid yellow;
}
.acceso-tarjeta:hover .iconos-tarjeta {
  color: black;
}
.acceso-tarjeta:hover .caja-tarjeta {
  background-color: yellow;
}
.caja-tarjeta {
  border-radius: 50px;
  display: inline-block;
  background-color: rgb(74 73 33 / 2);
  padding: 5px;
}
