p,
h2,
h1 {
  color: white;
}
.tarjeta {
  width: 260px;
  margin: 10px;
  background-color: rgb(74 73 33 / 0.5);
  text-align: center;
  border-radius: 15px;
}
.tarjetas-container {
  display: inline-flex;
  flex-wrap: wrap;
  /* background-color: red; */
  justify-content: space-around;
}
h2 {
  background-color: rgb(35 34 15 / var(--tw-bg-opacity, 1));
  margin: 5px;
}
span {
  color: rgb(204 203 142 / var(--tw-text-opacity, 1));
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
  border: 1px solid yellow;
}
