<ng-container *ngIf="pokemones | async as listaPokemon">
  <h1>
    Results <span>({{ listaPokemon.length - 1 }} Pokémon)</span>
  </h1>
  <div class="tarjetas-container">
    <div *ngFor="let pokemon of listaPokemon" class="tarjeta">
      <button (click)="abrirDetalle(pokemon.name)">
        <img [src]="getImageUrl(pokemon.url)" alt="" width="200px" />
        <h2>
          {{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }}
        </h2>
        <h3></h3>
      </button>
    </div>
  </div>
</ng-container>
